*{
    font-family: 'Anton', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Signika', sans-serif;

}
body {
    background-color: beige;
}

.books-cards-container {
    display: flex;
    justify-content: space-evenly
}

.box {

    width: 200px;
    transition: all 0.5s ease-in;
    margin: 10px;
    padding: 10px;

    /* apake hisab se margin-top adjust kr */
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgb(144, 141, 141);
    border: 0px solid white;
    height: 360px;
}
.box h3{
    font-size: 22px;
    text-shadow: 2px 2px 4px #635f5fc7
}

.box:hover {
    box-shadow: 0px 0px 7px 4px rgb(98, 98, 98);
    /* transform: scale(1.01); */

}

.box a {
    text-decoration: none;
}

.img {

    height: 150px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    box-shadow: 0px 0px 2px 1px black;

}

.cards-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px 1px gray;
    font-weight: bolder;
    transition: all 0.4s ease-in;
    background-color: black;
    color: white;
    height: 40px;
    width: 50%;


}

.cards-btn:hover {
    background-color: #de0000;
    color: white;
    font-weight: bolder;


}

.books-titile {
    margin-top: 10px;

    text-align: center;
    font-size: 25px;
}

.heart-symbol {

    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 6px;
    cursor: pointer;

}

.heart-symbol:hover {
    display: block;
    color: #ffffff;
    background-color: red;
    border: 1px solid black;
}