*{
    font-family: 'Anton', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Signika', sans-serif;

}
.input-content {
    display: flex;
    width: 500px;

}



.contact-us {
    display: inline-block;
    margin-left: 50px;
}

.contact-info {
    display: inline-block;
    
    margin-top: 100px;
    

}

.button{color: white;
    width: 130px;
    height: 40px;
    background-color: black;
    font-size: 18px;
    border-radius: 8px;
transition: all 0.8s ease-in-out;}
.button:hover {
    width: 130px;

    height: 40px;
    cursor: pointer;
    background-color: red;
}

.mail-container {
    display: flex;


}

.captcha-container {
    display: flex;
    align-items: center;

}

.verifymail-container {
    margin-left: 30px;
    width: 120px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.9s ease-in;
}

.verifymail-container:hover {
background-color: red;


}